.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
*.log
*.jpeg
*.jpg
*/png

### LOGS ###
src/test_screenshots
src/test_logs

out/
!**/src/main/**/out/
!**/src/test/**/out/
